$primary: #ff6536;
$secondary: #ffc7b6;

.footer {
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  text-align: center;
  color: white;
}

.footer-icons a:hover {
  color: $secondary !important;
}

.footer h4 {
  margin-bottom: 0.5%;
}

.footer-icons {
  margin-bottom: 0.5%;
}

.footer a {
  color: white;
  font-size: 1rem;
  margin: 0 0.8%;
}

.footer a:hover {
  color: $secondary;
}

.footer hr {
  width: 20%;
  border: none;
  border-top: 1px solid white;
  margin-bottom: 0;
}

small {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 980px) {
  .footer {
    height: auto;
  }
}
